.page__margin-side {
    margin: 0px 48px 0 48px;
   
}


              @media screen and (max-width: 800px) {
                .page__margin-side {
                    margin: 0px 24px 0 24px;
                }
                
             }
        
 
              @media screen and (max-width: 500px) { 
                .page__margin-side {
                margin: 0px 16px 0 16px;
                
                }
            }