
.places {
    max-width: 984px;
    box-sizing: border-box;
    margin: 92px 0;
    padding: 0;
    color: #FFFFFF;
    display: flex;
   
    
    }
        
       
         @media screen and (max-width: 800px) {
            .places {
                margin: 90px 0;
            }
            
         }
         @media screen and (max-width: 500px) { 
            .places {
                max-width: 320px;
                margin: 66px 0;
               
            }
        }
  