.header__lang {
  text-decoration-line: none;
  display: flex;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  }
  
  
  @media screen and (max-width: 500px) {
      .header__lang {
      font-size: 18px;
      line-height: 20px; 
      max-width: 22px;
          
      }
    }
  

    .header__lang:hover {
      opacity: 0.8;
  }
  