.lead {
  display: flex;
  flex-direction: column;
  margin: 0;

  max-width: 984px;
  max-height: 1005px;
}



@media screen and (max-width: 500px) {
  .lead__title {
    max-width: 320px;
    max-height: 406px;
  }
}

@media screen and (max-width: 800px) {
.lead__title {
  max-width: 768px;
  max-height: 862px;
}
}

@media screen and (max-width: 1100px) {
  .lead__title {
  
    max-width: 928px;
    max-height: 962px;
  }
    }