.lead__title {
  display: flex;
  margin: 0 auto 0;
  padding: 0;
  max-width: 720px;
  font-family: 'Inter';
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  color: #FFFFFF;
}

@media screen and (max-width: 760px) {
  .lead__title {
    max-width: 600px;
    font-size: 40px;
    line-height: 44px;
  }
}


@media screen and (max-width: 680px) {
  .lead__title {
  
    max-width: 400px;
  }
}


@media screen and (max-width: 550px) {
  .lead__title {
    max-width: 288px;
  }
}