.header__lang-active {
    text-decoration: underline;
    margin: 0 18px 0 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

}

@media screen and (max-width: 550px) {
    .header__lang-active {
    font-size: 18px;
    line-height: 20px; 
        
    }
  }
