.place {
display: grid;
max-width: 984px;
box-sizing: border-box;
margin: 0;
padding: 0;
color: #FFFFFF;
grid-column-gap: 48px;
grid-row-gap: 40px;
grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);

}

    .place {
        display: grid;
      }
      @media screen and (max-width: 1100px) {
      .place {
          grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
          gap: 48px 32px;
          
        }
      }
      @media screen and (max-width: 800px) {
        .place {
            grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
            gap: 48px 28px;
            
        }
      }
      @media screen and (max-width: 500px) {
        .place {
          grid-template-columns: minmax(min-content, max-content);
          gap: 32px;
        
       }