.place {
display: grid;
max-width: 984px;
box-sizing: border-box;
color: #FFFFFF;
grid-column-gap: 40px;
grid-row-gap: 48px;
grid-template-columns: repeat(2,minmax(min-content, 1fr));
grid-template-rows: repeat(2, min-content);


}


      @media screen and (max-width: 1100px) {
      .place {
        max-width: 928px;
          
          gap: 48px 32px;
          
        }
      }
      @media screen and (max-width: 800px) {
        .place {
          max-width: 700px;
            
            gap: 48px 28px;
            
        }
      }
      @media screen and (max-width: 500px) {
        .place {
          max-width: 320px;
          grid-template-columns: minmax(min-content, 1fr);
          gap: 32px;
        
       }
      }