.page__footer {
    margin: 0 48px;

}

@media screen and (max-width: 984px) {
    .page__footer {

        margin: 0 24px;
    }
}

@media screen and (max-width: 600px) {
    .page__footer {

        margin: 0 16px;
    }
}